<h1>Posts</h1>
<% @posts.each do |post| %>
	<div class="row">
  		<div class="col-xs-4 col-md-4">
			<div class="thumbnail">
	 		 <%= image_tag post.photo.url(:thumb) %>
	 			<div class="caption">

				<center><h3><%= post.title %></h3></center>
				<center><p><%= post.body %></p></center>
				<p><%= link_to "Read more", post_path(post), :class => 'btn btn-default' %></p>

	 			</div>
			</div>
  		</div>
	</div>
<% end %>