/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* CSS CUSTOMIZATION -> COLORS
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* * COLOR SHEME 1 #0DB4E9 (blue) #82b440 (green)
* * COLOR SHEME 2 #6BD6D6 #D66B6B
* * COLOR SHEME 3 #B782ED #B8ED82
* * COLOR SHEME 4 #917B54 #F7A516
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.colored, a:hover, .event a, .post a {
  color: #82b440;
}

.section-content-colored .section-content {
  .event-content a.btn:hover, .post-content a.btn:hover {
    color: #82b440;
  }
}

.section-full-colored, .section a.btn:hover {
  color: #82b440;
}

.section-content-colored .section-content {
  .event-content a.btn:hover, .post-content a.btn:hover {
    border-color: #82b440;
  }
}

.section a.btn:hover, .section-image a.btn.btn-donation, #menu a.btn-success {
  border-color: #82b440;
}

.section-full-colored, .section-content-colored .section-content, .section a.btn, .section-full-colored .section-content {
  background-color: #82b440;
}

.section-content-colored .section-content {
  .event-content a.btn, .post-content a.btn {
    background-color: #82b440;
  }
}

.section-image a.btn.btn-donation, #single-page .section-header, #menu a.btn-success {
  background-color: #82b440;
}

.section-content-colored.with-arrow:after, .section-full-colored.with-arrow:after {
  border-top-color: #82b440;
}

a {
  color: #0DB4E9;
}

.section-content-colored.color2 .section-content {
  .event-content a.btn:hover, .post-content a.btn:hover {
    color: #0DB4E9;
  }
}

#navigation.navigation-fixed, .mean-container .mean-nav ul {
  background-color: #0DB4E9;
}

.pace {
  .pace-progress {
    background-color: #0DB4E9;
  }
  .pace-progress-inner {
    box-shadow: 0 0 10px #0DB4E9, 0 0 5px #0DB4E9;
  }
  .pace-activity {
    border-top-color: #0DB4E9;
    border-left-color: #0DB4E9;
  }
}

.section-content-colored.color2 {
  .section-content {
    .event-content a.btn, .post-content a.btn {
      background-color: #0DB4E9;
    }
    background-color: #0DB4E9;
  }
  .event-content a.btn:hover, .post-content a.btn:hover {
    border-color: #0DB4E9;
  }
  &.with-arrow:after {
    border-top-color: #0DB4E9;
  }
}

.section-full-colored.color2.with-arrow:after {
  border-top-color: #0DB4E9;
}