			<!-- START DONATION SECTION -->
			<section id="donation" class="section section-image" style="background-image: url('images/donation_cover.jpg');">
				<div class="section-content center">
					<h2>Ready to buy something ?</h2>
					<!-- DONATION BUTTON -->
					<a href="#blog" class="btn btn-donation btn-success">Buy now!</a>
				</div>
			</section>
			<!-- END DONATION SECTION -->