			<!-- START FOOTER SECTION -->
			<section id="footer" class="section section-full-colored">
				<div class="section-content center">
					<p>Vlad Zippo</p>
				</div>
			</section>
			<!-- END FOOTER SECTION -->