			<!-- START GALLERY SECTION -->
			<section id="gallery" class="section">
				<!-- SECTION TITLE -->
				<div class="section-header with-arrow">
					<h1>Gallery</h1>
					<hr>
				</div>
				<!-- SECTION CONTENT -->
				<div class="content-section">
					<div id="gallery-slider">
		                <ul class="slides">
							<!-- SLIDE OF 2 GALLERY ITEMS -->
		                    <li>
		                    	<!-- FIRST ITEM GALLERY -->
		                    	<div class="gallery-item">
						    		<a href="images/gallery/1.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span>Computers</span>
							    		<img src="images/gallery/1.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<!-- SECOND ITEM GALLERY -->
		                    	<div class="gallery-item">
						    		<a href="images/gallery/2.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span>Diffrent things</span>
							    		<img src="images/gallery/2.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
							<!-- END SLIDE -->
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/3.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/3.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/4.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/4.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/5.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/5.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/6.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span>Phones</span>
							    		<img src="images/gallery/6.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/2.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/2.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/4.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/4.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/1.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span>Computers</span>
							    		<img src="images/gallery/1.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/6.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span>Phones</span>
							    		<img src="images/gallery/6.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/2.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/2.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/4.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/4.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                    <li>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/5.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/5.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    	<div class="gallery-item">
						    		<a href="images/gallery/2.jpg" data-fancybox-group="group1" class="fancybox">
						    			<span></span>
							    		<img src="images/gallery/2.jpg" width="300" height="200" alt="Image gallery">
						    		</a>
					    		</div>
		                    </li>
		                </ul>
					</div>
				</div>
			</section>
			<!-- END GALLERY SECTION -->