<!-- START PROJECT SECTION -->
			<section id="project" class="section" >
				<span class="sequence-prev" ></span>
				<span class="sequence-next" ></span>
	            <ul class="sequence-canvas">
	            	<li class="animate-in" style="background-image: url('images/slider/1.jpg');">
		            	<div class="slide-content">
			            	<h1>Welcome !</h1>
			            	<h3>We're #ASSOCIATION-NAME, a young Charity Association ! We build School in #COUNTRY to globalize knowledge and education... 
							(you can add here any kind of content such as description, button, images...)</h3>
		            	</div>
	            	</li>
	            	<li style="background-color: #3f7ee2;">
		            	<div class="slide-content">
			            	<h1>This Project</h1>
			            	<h3>This my first project like this, i want to do my best. If something is wrong just tell me and i try to fix. </h3>
			            	<div class="progress progress-striped">
							  <div class="progress-bar progress-bar-success" style="width: 32%">
							    <span class="sr-only">This project is Ready on - </span>
							  </div>
							</div>
		            	</div>
	            	</li>
	            	<li style="background-color: #c1384c;">
		            	<div class="slide-content">
			            	<h1>Who Is Behind</h1>
			            	<div class="center">
			            		<img src="images/slider/funder.jpg" class="pull-left" alt="image in slider slide">
				            	<h3>Vlad</h3>
				            	<p>Just a student trying learn something to make some money and be someone, not be a random people.</p>
								<a href="https://vk.com/watazippo" class="btn btn-twitter"><span class="icon icon-twitter"></span> You can ask me in VK</a>
			            	</div>
		            	</div>
	            	</li>
	            </ul>
            	<ul class="sequence-pagination">
					<li>Welcome</li>
					<li>My Project</li>
					<li>Who is behind</li>
				</ul>
			</section>
			<!-- END PROJECT SECTION -->