			<!-- START SERVICES SECTION -->
			<section id="services" class="section section-full-colored">
				<!-- SECTION TITLE -->
				<div class="section-header">
					<h1>What We Do</h1>
					<hr>
				</div>
				<!-- SECTION CONTENT -->
				<div class="section-content">
					<div class="container">
						<div class="services-slider flexslider">
		                    <ul class="slides">
								<!-- START SERVICE -->
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-glass"></span>
										<h3>Diffrent Things</h3>
										<p>You can buy anything here for youself.</p>
									</div>
								</li>
								<!-- END SERVICE -->
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-gift"></span>
										<h3>Gift Buying</h3>
										<p>You can buy a thing to gift someone. It will have special package.</p>
									</div>
								</li>
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-coin"></span>
										<h3>Sale</h3>
										<p>You can place your goods here, after conversation with Administration.</p>
									</div>
								</li>
								<li>
		                            <div class="slide">
										<span class="icon icon-large icon-pen"></span>
										<h3>Comments</h3>
										<p>You can write your comment for good you like.</p>
									</div>
								</li>
							</ul>
						</div>
						<!-- SECTION BUTTON -->
						<div class="center">
							<a href="#blog" class="btn btn-default">Goods for now</a>
						</div>
					</div>
				</div>
			</section>
			<!-- END SERVICES SECTION -->