			<!-- START SERVICES SECTION -->
			<section id="services" class="section section-full-colored">
				<!-- SECTION TITLE -->
				<div class="section-header">
					<h1>What We Do</h1>
					<hr>
				</div>
				<!-- SECTION CONTENT -->
				<div class="section-content">
					<div class="container">
						<div class="services-slider flexslider">
		                    <ul class="slides">
								<!-- START SERVICE -->
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-glass"></span>
										<h3>Reception</h3>
										<p>Here it's just an example of the activities that you can do. Or something else...</p>
									</div>
								</li>
								<!-- END SERVICE -->
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-users2"></span>
										<h3>Babysitting</h3>
										<p>Here it's just an example of the activities that you can do.Or something else...</p>
									</div>
								</li>
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large  icon-leaf"></span>
										<h3>Gardening</h3>
										<p>Here it's just an example of the activities that you can do. Or something else...</p>
									</div>
								</li>
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-gift"></span>
										<h3>Gift Wrapping</h3>
										<p>Here it's just an example of the activities that you can do. Or something else...</p>
									</div>
								</li>
		                        <li>
		                            <div class="slide">
										<span class="icon icon-large icon-coin"></span>
										<h3>Sale</h3>
										<p>Here it's just an example of the activities that you can do. Or something else...</p>
									</div>
								</li>
							</ul>
						</div>
						<!-- SECTION BUTTON -->
						<div class="center">
							<a href="#events" class="btn btn-default">Our Diary</a>
						</div>
					</div>
				</div>
			</section>
			<!-- END SERVICES SECTION -->